.thin-line {
    border-top: 0.5px solid black; /* Define uma espessura menor */
}

.thin-line-03 {
    border-top: 0.2px solid black; /* Define uma espessura menor */
}

.cardnoticias {
    max-width: 95%; margin-top: 20px; margin-bottom: 15px; border: none;
    max-height: 100%;
}

.cardnoticias-full{
    max-width: 80%; margin-top: 20px; margin-bottom: 15px; border: none;
    max-height: 100%;
}

.lupa-icone {
    z-index: 10;
    cursor: pointer;
}
  

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #86b7fe;
}

/* Garantir que o ícone da lupa tenha o cursor "pointer" */
.lupa-icone {
  z-index: 10;
  cursor: pointer; /* Transforma o cursor em "dedinho" ao passar sobre a lupa */
}

/* Para o input ao focar */
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #86b7fe;
}

/* CSS global para garantir que o conteúdo ocupe toda a altura */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container-fluid {
    flex-grow: 1;
  }
  
  /* Estilização do footer */
  footer {
    background-color: #203e95;
    color: white;
    width: 100%;
  }